<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Search</title>
</head>
<body>

<!--/*@thymesVar id="inName" type=""*/-->
<form th:action="@{'/getWorkers/inName'(inName=${inName})}">
    <p>Input name:<input type="text" name="inName" value="" th:value="${inName}" /> </p>
    <button type="submit"> Find </button>
</form>

</body>
</html>